@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
    --lobster: 'Lobster', cursive;
    --montserrat :'Montserrat', sans-serif; 
}
hr{
    height: 5px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;


    nav{
     
       margin-top: .3rem;
      
        .nav-link{
            margin: 0 .8rem;
        }
        padding: 0 .5rem;
        width: 100%;
        .bg-light {
            background-color: #fff!important;
        }

        .navbar-light .navbar-nav .nav-link {
            color: #000;
        }

        .navbar-toggler {
            color: rgba(0,0,0,.55);
            border-color: rgba(0, 0, 0, 0);
        }

        
        .navbar-brand{
            font-family: var(--lobster);
            background-color: #fff;
            margin-left: .5rem;

            .yellow-dot{
                color: yellow;
            }
        }

        .active{
            background-color: #000;
           

            .nav-link{
                color: #fff !important;
                font-weight: 500;
            }
        }
    }

    .container{
        display: flex;
        align-items: start;
        margin-top: 1.5rem;
        height: 100%;
        margin-bottom: 1rem;

        .row{
            display: flex;
           align-items: center;

           .col1{
              
              h1{
               font-size: 2rem;
               margin-bottom: 1rem;
              }

              h3{
                  color: #000;
                  font-weight: 400;
                  margin-bottom: 1rem;
              }
              p{
                  color: gray;
                  font-size: 1.05rem;
              }
              .phone-search{
                    margin-top: 1rem;
                    box-shadow: 4px 4px 11px 2px #00000040;
                    padding: 0.2rem;
                    width: 100%;
              }

              .contactbtn{
                  background-color: black;
                  margin-bottom: 1rem;
                  color: #fff;
                  border-radius: 0;
                  width: 10rem;


              }
              
              .yellow-underline{
                  text-decoration: underline;
                  text-decoration-color: #ffff00;
              }
           }
           .col2{
               display: none;
           }
        }

        .phone2{
            width: 100%;
            height: 30rem;
        }
    }

    .brands{
        width: 90%;

        .choice-head{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 3rem 0;
        }
        .brands-logo{
            background: #FFFDFD;
    box-shadow: 4px 4px 11px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 10rem;
        height: 10rem;
        margin: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        }
        flickity-page-dots .dot {
            display: none;
        }
        .logos{
            width: 6rem;
        }
        .brands-logo:hover{
            transform: scale(1.1);
        }

        h1{
        font-size: 1.3rem;
        font-weight: bold;
        }
        .yellow-underline{
            text-decoration: underline;
            text-decoration-color: #ffff00;
        }
    }

    #why{
        margin-top: 5rem;
        margin-bottom: 1.5rem;
        font-family: var(--montserrat);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
            .whyheading{
                font-size: 1.8rem;
                font-weight: 520;
                margin: 2rem;
                text-align: center;
            }
            .why-logos{
                width: 5rem;
            }
            .row{
                display: flex;
                justify-content: space-evenly;
            }
            .why-div{
                height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
            
            .why-logo-div{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 1rem 0;
            }
    }
    
    #owner{
        height: auto;
     
        font-family: var(--montserrat);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1{
        font-size: 1.8rem;;
        font-weight: 520;
        margin: 3rem 0;
        text-align: center;
        top: 0rem;
        }
        .card-img-top{
            margin: 1rem 0;
            width: 30%;
        }
        .card-title{
            text-align: center;
        }
        .card-div{
            display: flex;
        justify-content: center;
        align-items: center;
        }
        .card{
    background: #dadada;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 16rem;
    //         box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    // border-radius: 10px;
    display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: auto;
        margin: 0 0 2rem 0;
        }
        .contact-icon{
            margin: 0.5rem;
        }
    }
    #footer{
     width: 100%;

    .footer{  
        font-family: var(--montserrat);
        width: 100%;
        text-align: center;
        display: flex;
      
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        .contact-mail{
            margin-top: 1rem;
        }
        .copyright{
            color: rgba(0,0,0,0.67);
        font-size: 0.8rem;
        }
        
    }
    .carousel-cell {
        width: 28%;
        height: 200px;
        margin-right: 10px;
        border-radius: 5px;
    }
}
}

@media only screen 
   and (min-width : 1200px) {
  
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .container{
            .row{
                .col2{
                    display: block;
                }
            }
        }

        .brands {
            h1{
                font-size: 3rem;
            }
        }
        #why{
            .whyheading{
                font-size: 3rem;
            }
        }
        #owner{
            h1{
                font-size: 3rem;
            }
        }
    }
}