$secondary:#fff500;
$font:Montserrat;
$heavy-weight:700;
$light-weight:400;
$main-col:#000;
$sec-col:#000 92%;
$third-col:#797979;
$font-size: calc(1.375rem + 1.5vw);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.yellow-underline{
    border-bottom: 3px solid $secondary;
}
.navbar{
    .navbar-light .navbar-nav .nav-link {
        text-align: center;
    }
    .nav-link{
        margin:1rem;
    }
    .nav-link:hover{
        color: black;
        transform: scale(1.2);
    }
    .navbar-nav{
        margin-left: auto;
    }
    .active{
        background: black;
        color: white !important;
        padding: 8px 20px !important;
    }
}

// Navbar designing
.navbar-brand{
    margin: 1rem;
    font-family: Lobster !important;
    .logo-dot{
        color: $secondary;
    }
}
.navbar-light .navbar-toggler{
    border: none;
    margin: 1rem;
}

// Hero designing
#hero{
    font-family: Montserrat;
    height: 75vh;
    .hero1{
        padding-right: 0;
        display: flex;
    flex-direction: column;
    justify-content: center;
    height: 61vh;
    .phone-search{
       box-shadow: 4px 4px 11px 2px rgba(0,0,0,0.25);
    padding: 0.2rem;
    }
        button{
            width: 10rem;
        }
        h1{
            font-size: 3rem;
            margin-bottom: 2rem;

        }
        h3{
            font-size: 1.5rem;
            margin-bottom: 1rem;
            color: $sec-col;
        }
        p{
            color: $third-col;
            margin-bottom: 2rem;
            
        }
        button{
            border-radius: 0;
            margin-bottom: 2rem;
        }
    }
    .container-fluid{
        margin: 1rem;
    }
    .hero2{
        background: url(./icons/phone-img2.jpg) no-repeat center center;
        background-size: contain;
    }
}
#choice{
    width: 100vw;
    height: 80vh;
    position: relative;
    .choice-head{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 6rem 0;
    }
    .brands-logo{
        background: #FFFDFD;
box-shadow: 4px 4px 11px 2px rgba(0, 0, 0, 0.25);
border-radius: 10px;
width: 10rem;
    height: 10rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .logos{
        width: 6rem;
    }
    .brands-logo:hover{
        transform: scale(1.1);
    }
    h1{
        font-size: 3rem;
        font-weight: 500;
    }
}
#why{
    font-family: $font;
    display: flex;
    flex-direction: column;
    align-items: center;

    position:relative;
    height: 42vw;
        .whyheading{
            font-size: 3rem;
            font-weight: 520;
            margin: 1rem;
            text-align: center;
        }
        .why-logos{
            width: 5rem;
        }
        .row{
            display: flex;
            justify-content: space-evenly;
        }
        .why-div{
            height: 31vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
        
        .why-logo-div{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 1rem 0;
        }
}

#owner{
    height: 40vw;
    position: relative;
    font-family: $font;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1{
        font-size: 3rem;
    font-weight: 520;
    margin: 3rem 0;
    text-align: center;
    top: 0rem;
    }
    .card-img-top{
        margin: 1rem 0;
        width: 30%;
    }
    .card-title{
        text-align: center;
    }
    .card-div{
        display: flex;
    justify-content: center;
    align-items: center;
    }
    .card{
        background: #E3E3E3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
width: 18rem;
//         box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
// border-radius: 10px;
display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 15rem;
    margin: 0 0 2rem 0;
    }
    .contact-icon{
        margin: 0.5rem;
    }
}
.footer{
    position:relative;
    font-family: $font;
    width: 100vw;
    display: flex;
    padding: 3rem 0 !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .footer-head{
        display: flex;
        font-weight: $heavy-weight;
    justify-content: center;
    }
    .contact-mail{
        margin-top: 1rem;
    }
    .copyright{
        color: rgba(0,0,0,0.67);
    font-size: 0.8rem;
    }
    
}
.carousel-cell {
    width: 28%;
    height: 200px;
    margin-right: 10px;
    border-radius: 5px;
}
@media (max-width:990px){
    #why{
        height: 170vh;
        .why-div{
            height: 152vh;
        }
    }
}
@media (max-width:900px){
    #hero{
        height: 98vh;
    }
}
@media (max-width:800px){
    #owner {
        height: 85vw;
    }
    #hero{
        height: 114vh;
    }
}
@media (max-width:700px){
    #owner {
        height: 85vw;
}
}
@media (max-width:450px){
    #owner {
        height: 155vw;
}
}
@media (max-width:350px){
    #owner {
        height: 160vw;
}
}
@media (max-width:600px){
    #hero {
        height: 130vw;
    }
    .hero2{
        height: 50vw;
    }
}
@media (max-width:400px){
    #hero {
        height: 220vw;
    }
    .hero2{
        height: 130vw;
    }
}