$secondary:#fff500;
$font:Montserrat;
$heavy-weight:700;
$light-weight:400;
$main-col:#000;
$sec-col:#000 92%;
$third-col:#797979;
$font-size: calc(1.375rem + 1.5vw);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.yellow-underline{
    border-bottom: 3px solid $secondary;
}

// Navbar designing
.navbar-brand{
    margin: 1rem;
    font-family: Lobster !important;
    .logo-dot{
        color: $secondary;
    }
}
.navbar-light .navbar-toggler{
    border: none;
    margin: 1rem;
}

// Hero designing
#hero{
    font-family: Montserrat;
    .hero1{
        padding-right: 0;
        h1{
            font-size: 3rem;
            margin-bottom: 2rem;
        }
        h3{
            font-size: 1.5rem;
            margin-bottom: 1rem;
            color: $sec-col;
        }
        p{
            color: $third-col;
            margin-bottom: 2rem;
            
        }
        button{
            border-radius: 0;
        }
    }
    .container-fluid{
        margin: 1rem;
    }
//     .hero2{
// //         width: 529px;
// // heigh.hero2t: 449px;
// // box-shadow: 7px 10px 4px rgba(0, 0, 0, 0.25);
// // border-radius: 30px;
// //         background: url(./icons/phone-img.jpg) no-repeat center center;
// //         aspect-ratio: auto;
//     }
}
#choice{
    
    font-family: $font;
    height: 140vw;
    .brands-div{
        background: #fafafa;
        display: flex;
justify-content: space-evenly;
align-items: center;
padding: 0;
    }
    .row{
        height: 47vh;
    }
    .brands-logo{
        background: #FFFDFD;
box-shadow: 4px 4px 11px 2px rgba(0, 0, 0, 0.25);
border-radius: 10px;
margin: 0.5rem;
height: 6rem;
width: 6rem;
display: flex;
justify-content: center;
align-items: center;
margin-top: 1rem;
    }
    // display: flex;
    // justify-content: center;
    // align-items: center;
    h1{
        font-size: 3rem;
    font-weight: 520;
    margin: 3rem;
    }
    .row{
        display: flex;
        justify-content: space-evenly;
        
    }
    .choice-logo{
        height: 40px;
    }
}
#why{
    font-family: $font;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300vw;
        .whyheading{
            font-size: 3rem;
            font-weight: 520;
            margin: 3rem;
        }
        .why-logos{
            width: 5rem;
        }
        .row{
            display: flex;
            justify-content: space-evenly;
        }
        .why-logo-div{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 1rem 0;
        }
}

#owner{
    font-family: $font;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1{
        font-size: 3rem;
    font-weight: 520;
    margin: 3rem 0;
    text-align: center;
    }
    .card-img-top{
        margin: 1rem 0;
    }
    .card-title{
        text-align: center;
    }
    .card{
        background: #FFFDFD;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 15rem;
    margin: 0 0 2rem 0;
    }
    .contact-icon{
        margin: 0.5rem;
    }
}
.footer{
    font-family: $font;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .footer-head{
        display: flex;
        font-weight: $heavy-weight;
    justify-content: center;
    }
    .contact-mail{
        margin-top: 1rem;
    }
    .copyright{
        color: rgba(0,0,0,0.67);
    font-size: 0.8rem;
    }
    
}