@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --lobster: 'Lobster', cursive;
  --montserrat:'Montserrat', sans-serif;
}

hr {
  height: 5px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body nav {
  margin-top: .3rem;
  padding: 0 .5rem;
  width: 100%;
}

body nav .nav-link {
  margin: 0 .8rem;
}

body nav .bg-light {
  background-color: #fff !important;
}

body nav .navbar-light .navbar-nav .nav-link {
  color: #000;
}

body nav .navbar-toggler {
  color: rgba(0, 0, 0, 0.55);
  border-color: rgba(0, 0, 0, 0);
}

body nav .navbar-brand {
  font-family: var(--lobster);
  background-color: #fff;
  margin-left: .5rem;
}

body nav .navbar-brand .yellow-dot {
  color: yellow;
}

body nav .active {
  background-color: #000;
}

body nav .active .nav-link {
  color: #fff !important;
  font-weight: 500;
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-top: 1.5rem;
  height: 100%;
  margin-bottom: 1rem;
}

body .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .row .col1 h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

body .container .row .col1 h3 {
  color: #000;
  font-weight: 400;
  margin-bottom: 1rem;
}

body .container .row .col1 p {
  color: gray;
  font-size: 1.05rem;
}

body .container .row .col1 .phone-search {
  margin-top: 1rem;
  -webkit-box-shadow: 4px 4px 11px 2px #00000040;
          box-shadow: 4px 4px 11px 2px #00000040;
  padding: 0.2rem;
  width: 100%;
}

body .container .row .col1 .contactbtn {
  background-color: black;
  margin-bottom: 1rem;
  color: #fff;
  border-radius: 0;
  width: 10rem;
}

body .container .row .col1 .yellow-underline {
  text-decoration: underline;
  -webkit-text-decoration-color: #ffff00;
          text-decoration-color: #ffff00;
}

body .container .row .col {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

body .container .row .col2 img {
  height: 15rem;
}

body .container .phone2 {
  width: 100%;
  height: 30rem;
}

body .brands {
  width: 90%;
}

body .brands .choice-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 0;
}

body .brands .brands-logo {
  background: #FFFDFD;
  -webkit-box-shadow: 4px 4px 11px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 11px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 10rem;
  height: 10rem;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .brands flickity-page-dots .dot {
  display: none;
}

body .brands .logos {
  width: 6rem;
}

body .brands .brands-logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body .brands h1 {
  font-size: 1.3rem;
  font-weight: bold;
}

body .brands .yellow-underline {
  text-decoration: underline;
  -webkit-text-decoration-color: #ffff00;
          text-decoration-color: #ffff00;
}

body #why {
  margin-top: 5rem;
  margin-bottom: 1.5rem;
  font-family: var(--montserrat);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
}

body #why .whyheading {
  font-size: 1.8rem;
  font-weight: 520;
  margin: 2rem;
  text-align: center;
}

body #why .why-logos {
  width: 5rem;
}

body #why .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body #why .why-div {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #why .why-logo-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem 0;
}

body #owner {
  height: auto;
  font-family: var(--montserrat);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #owner h1 {
  font-size: 1.8rem;
  font-weight: 520;
  margin: 3rem 0;
  text-align: center;
  top: 0rem;
}

body #owner .card-img-top {
  margin: 1rem 0;
  width: 30%;
}

body #owner .card-title {
  text-align: center;
}

body #owner .card-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #owner .card {
  background: #dadada;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 16rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  margin: 0 0 2rem 0;
}

body #owner .contact-icon {
  margin: 0.5rem;
}

body #footer {
  width: 100%;
}

body #footer .footer {
  font-family: var(--montserrat);
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #footer .footer .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #footer .footer .contact-mail {
  margin-top: 1rem;
}

body #footer .footer .copyright {
  color: rgba(0, 0, 0, 0.67);
  font-size: 0.8rem;
}

body #footer .carousel-cell {
  width: 28%;
  height: 200px;
  margin-right: 10px;
  border-radius: 5px;
}

@media only screen and (min-width: 500px) {
  body .container .row .col2 img {
    height: 27rem;
  }
}

@media only screen and (min-width: 800px) {
  body .container .row .col2 img {
    height: 40rem;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .container .row .col {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
            flex: 1 0 0;
  }
  body .container .row .col2 img {
    height: 28rem;
  }
  body .brands h1 {
    font-size: 3rem;
  }
  body #why .whyheading {
    font-size: 3rem;
  }
  body #owner h1 {
    font-size: 3rem;
  }
}
/*# sourceMappingURL=style.css.map */