* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.yellow-underline {
  border-bottom: 3px solid #fff500;
}

.navbar .navbar-light .navbar-nav .nav-link {
  text-align: center;
}

.navbar .nav-link {
  margin: 1rem;
}

.navbar .nav-link:hover {
  color: black;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.navbar .navbar-nav {
  margin-left: auto;
}

.navbar .active {
  background: black;
  color: white !important;
  padding: 8px 20px !important;
}

.navbar-brand {
  margin: 1rem;
  font-family: Lobster !important;
}

.navbar-brand .logo-dot {
  color: #fff500;
}

.navbar-light .navbar-toggler {
  border: none;
  margin: 1rem;
}

#hero {
  font-family: Montserrat;
  height: 75vh;
}

#hero .hero1 {
  padding-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 61vh;
}

#hero .hero1 .phone-search {
  -webkit-box-shadow: 4px 4px 11px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 11px 2px rgba(0, 0, 0, 0.25);
  padding: 0.2rem;
}

#hero .hero1 button {
  width: 10rem;
}

#hero .hero1 h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

#hero .hero1 h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #000 92%;
}

#hero .hero1 p {
  color: #797979;
  margin-bottom: 2rem;
}

#hero .hero1 button {
  border-radius: 0;
  margin-bottom: 2rem;
}

#hero .container-fluid {
  margin: 1rem;
}

#hero .hero2 {
  background: url(./icons/phone-img2.jpg) no-repeat center center;
  background-size: contain;
}

#choice {
  width: 100vw;
  height: 80vh;
  position: relative;
}

#choice .choice-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 6rem 0;
}

#choice .brands-logo {
  background: #FFFDFD;
  -webkit-box-shadow: 4px 4px 11px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 11px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 10rem;
  height: 10rem;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#choice .logos {
  width: 6rem;
}

#choice .brands-logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#choice h1 {
  font-size: 3rem;
  font-weight: 500;
}

#why {
  font-family: Montserrat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 42vw;
}

#why .whyheading {
  font-size: 3rem;
  font-weight: 520;
  margin: 1rem;
  text-align: center;
}

#why .why-logos {
  width: 5rem;
}

#why .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#why .why-div {
  height: 31vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#why .why-logo-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem 0;
}

#owner {
  height: 40vw;
  position: relative;
  font-family: Montserrat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#owner h1 {
  font-size: 3rem;
  font-weight: 520;
  margin: 3rem 0;
  text-align: center;
  top: 0rem;
}

#owner .card-img-top {
  margin: 1rem 0;
  width: 30%;
}

#owner .card-title {
  text-align: center;
}

#owner .card-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#owner .card {
  background: #E3E3E3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 15rem;
  margin: 0 0 2rem 0;
}

#owner .contact-icon {
  margin: 0.5rem;
}

.footer {
  position: relative;
  font-family: Montserrat;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem 0 !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .contact-mail {
  margin-top: 1rem;
}

.footer .copyright {
  color: rgba(0, 0, 0, 0.67);
  font-size: 0.8rem;
}

.carousel-cell {
  width: 28%;
  height: 200px;
  margin-right: 10px;
  border-radius: 5px;
}

@media (max-width: 990px) {
  #why {
    height: 170vh;
  }
  #why .why-div {
    height: 152vh;
  }
}

@media (max-width: 900px) {
  #hero {
    height: 98vh;
  }
}

@media (max-width: 800px) {
  #owner {
    height: 85vw;
  }
  #hero {
    height: 114vh;
  }
}

@media (max-width: 700px) {
  #owner {
    height: 85vw;
  }
}

@media (max-width: 450px) {
  #owner {
    height: 155vw;
  }
}

@media (max-width: 350px) {
  #owner {
    height: 250vw;
  }
}

@media (max-width: 600px) {
  #hero {
    height: 130vw;
  }
  .hero2 {
    height: 50vw;
  }
}

@media (max-width: 400px) {
  #hero {
    height: 250vw;
  }
  .hero2 {
    height: 130vw;
  }
}
/*# sourceMappingURL=style.css.map */
