* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.yellow-underline {
  border-bottom: 3px solid #fff500;
}

.navbar-brand {
  margin: 1rem;
  font-family: Lobster !important;
}

.navbar-brand .logo-dot {
  color: #fff500;
}

.navbar-light .navbar-toggler {
  border: none;
  margin: 1rem;
}

#hero {
  font-family: Montserrat;
}

#hero .hero1 {
  padding-right: 0;
}

#hero .hero1 h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

#hero .hero1 h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #000 92%;
}

#hero .hero1 p {
  color: #797979;
  margin-bottom: 2rem;
}

#hero .hero1 button {
  border-radius: 0;
}

#hero .container-fluid {
  margin: 1rem;
}

#choice {
  font-family: Montserrat;
  height: 140vw;
}

#choice .brands-div {
  background: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

#choice .row {
  height: 47vh;
}

#choice .brands-logo {
  background: #FFFDFD;
  -webkit-box-shadow: 4px 4px 11px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 11px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 0.5rem;
  height: 6rem;
  width: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

#choice h1 {
  font-size: 3rem;
  font-weight: 520;
  margin: 3rem;
}

#choice .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#choice .choice-logo {
  height: 40px;
}

#why {
  font-family: Montserrat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300vw;
}

#why .whyheading {
  font-size: 3rem;
  font-weight: 520;
  margin: 3rem;
}

#why .why-logos {
  width: 5rem;
}

#why .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#why .why-logo-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem 0;
}

#owner {
  font-family: Montserrat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#owner h1 {
  font-size: 3rem;
  font-weight: 520;
  margin: 3rem 0;
  text-align: center;
}

#owner .card-img-top {
  margin: 1rem 0;
}

#owner .card-title {
  text-align: center;
}

#owner .card {
  background: #FFFDFD;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 15rem;
  margin: 0 0 2rem 0;
}

#owner .contact-icon {
  margin: 0.5rem;
}

.footer {
  font-family: Montserrat;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .contact-mail {
  margin-top: 1rem;
}

.footer .copyright {
  color: rgba(0, 0, 0, 0.67);
  font-size: 0.8rem;
}
/*# sourceMappingURL=style.css.map */